body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

header {
    background-color: #000000;
    color: white;
    padding: 1em 0;
}


.align-left{
 margin-right: 95%;
}
.align-right{
    margin-left: 95%
}
.column {
    float: right;
    width: 20%;
    padding: 10px;
  }
  .banner{
    padding-left: 100px;
  }
